<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      MEETING ROOM BOOKING
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-list>
    <ion-item-sliding *ngFor="let meet of meets">
      <ion-card>
        <ion-item lines="inset" button [routerLink]="['/meetes', meet.id]"> 
          <ion-avatar slot="start">
            <img src="https://images.pexels.com/photos/937481/pexels-photo-937481.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          </ion-avatar>
             Name : {{meet.name}} <br>
           section : {{meet.section}}
        </ion-item>
        <ion-card-content>
          <ion-list>
            <ion-row>
              <ion-col>
                 Date & Time :   {{meet.date}}  {{meet.time}} <br>
                 Duration:  {{meet.duration}}
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-item-options side="end">
        <ion-item-option (click)="onRemove(item)" color="secodary">
          <ion-icon name="checkmark" slot="end">
          </ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  
  <ion-button expand="block" routerLink="/meetes" routerDirection="forward" >Booking</ion-button>

  <!-- <ion-item-options side="end">
    <ion-item-option (click)="onRemove(item)" color="secodary">
      <ion-icon name="checkmark" slot="end"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button routerLink="/meetes" routerDirection="forward">
   <ion-icon name="add"></ion-icon>
</ion-fab-button>
</ion-fab> -->
</ion-content>
